#inquiryResults {
  margin-top: -8px;
  margin-bottom: 9px;
}

#comments {
  height: 100px;
}
.sprite.search_icon {
  z-index: 4;
}

input.input-standard.search,
input.input-standard.search_icon {
  min-width: 100%;
}

#addPanButton {
  margin-right: 24px;
}

textarea {
  resize: none;
}

.container-fluid.white {
  background: #fff;
  padding: 16px;
  border-radius: 6px;
}

input[type=radio]:checked+label.radio-label:before {
  font-size: 50px;
}
label.radio-label:before {
  width: 19px;
  height: 19px;
}
.disabled-radio {
  opacity: 0.5 !important;
  cursor: not-allowed;
  pointer-events: none;
}
