.group-by-pan-button {
  margin-left: 20px;
}
.transaction-buttons {
  height: 80px;
}

#transactionViewerWrapper {
  position: relative;
}
#transactionViewerWrapper {
  min-height: 190px;
}
#transactionViewerWrapper tv-viewer .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-body table {
  margin-top: -58px;
}
#transactionViewerWrapper tv-viewer .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-body {
  height: auto;
  min-height: 180px;
}

#transactionViewerWrapper tv-viewer span.tv-cell.tv-cell-alertSwitch {
  padding-left: 0.60em;
}
.ui-table-thead p-sorticon .ui-sortable-column-icon.fa.fa-fw.fa-sort.fa-sort-desc,
.ui-table-thead p-sorticon .ui-sortable-column-icon.fa.fa-fw.fa-sort.fa-sort-asc {
  visibility: visible;
}
.ui-table-wrapper table {
  min-width: 100%;
}

.ui-table-wrapper table tbody {
  background: #fff;
}

span.tv-header-alertSwitch>span:nth-of-type(1):after {
  content: '\200b';
}
span.tv-header-processedDateTime>span:nth-of-type(1):after {
  content: '\200b';
}
span.tv-header-processedTransactionId>span:nth-of-type(1):after {
  content: '\200b';
}
span.tv-header-brmsReasonCode3>span:nth-of-type(1):after {
  content: '\200b';
}
span.tv-header-caseNumber>span:nth-of-type(1):after {
  content: '\200b';
}
span.tv-header-processingNetworkCode>span:nth-of-type(1):after {
  content: '\200b';
}
