<cs-transactions-form
  (searchEvent)="onSearch($event)"
  (newInquiryEvent)="onNewInquiry()"
  [isReadonly]="false"
  [ica]="currentIca"
  [institutionName]="currentInstitutionName"
  >
</cs-transactions-form>
<div class="placeholder"></div>
<div id="transactionViewerWrapper" *ngIf="enableViewer">
  <tv-viewer
    [columnDefinitions]="data.modConfig.elements"
    [recordsPerPage]="settings.maxRecordsPerPage"
    [maxRecords]="settings.maxRecords"
    [maxDisplayedColumns]="settings.maxDisplayedColumns"
    [minDisplayedColumns]="settings.minDisplayedColumns"
    [transactions]="transactions"
    [settings]="settings"
    [defaultSortField]="settings.sortField"
    [defaultSortOrder]="settings.sortOrder"
    [enableRecordSelection]="enableRecordSelection"
    [tooltipLocalisationKeyPrefix] ="settings.tooltipLocalisationKeyPrefix"
    (saveSettings)="onChangeSettings($event)"
    (recordSelected)="recordSelected($event)"
    [emptyMessage]="notFoundMessage"
    #viewer
    >
    <tv-action
      *ngIf="enableHistory && !historyVisible"
      [label]="'CUSTOMER_SUPPORT.LABELS.SHOW_HISTORY'"
      (click)="onToggleHistory()">
    </tv-action>
    <tv-action
      *ngIf="enableHistory && historyVisible"
      [label]="'CUSTOMER_SUPPORT.LABELS.HIDE_HISTORY'"
      (click)="onToggleHistory()">
    </tv-action>
  </tv-viewer>
</div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<fc-dialog
  #dialog
  [labelDialog]='dialogText | translate'
  [labelPrimaryButton]='"OK" | translate'
  [enableSecondaryButton]='false'
></fc-dialog>
