.modal-buttons > button {
  margin-bottom: 0px;
  margin-top: 20px;
}

#confirmation-body-head {
  text-align: left;
  margin-bottom: 0;
}

#confirmation-body-tail {
  text-align: left;
}

label {
  display: block;
  text-align: left;
}

hr {
  border: 1px solid;
  background-color: black;
}

.modal-header {
  border: none;
}

.modal-body {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
}

.start-date {
  padding-left: 0;
}

.date-label {
  font-weight: bold;
}

.modal-body-text {
  font-size: 1.2em;
}
