<table class="responsive-table" itemscope="" itemtype="http://schema.org/Table" border="0">
  <tbody>
      <tr class="bold">
        <th></th>
        <th></th>
          <th scope="col">
            <span>Date and Time</span>
          </th>
          <th scope="col">
            <span>User ID</span>
          </th>
          <th scope="col">
            <span>Action</span>
          </th>
          <th scope="col">
            <span>Action Details</span>
          </th>
        </tr>
        <tr *ngFor="let hist of data | slice:0:25; let i = index; trackBy: trackFn">
          <td></td>
          <td></td>
            <td><span class="dataSpan">{{formatDate(hist.changeDate)}}</span></td>
            <td><span class="dataSpan">{{hist.userId}}</span></td>
            <td><span class="dataSpan">{{hist.changeType}}</span></td>
            <td><span class="dataSpan">{{formatComment(hist.comments)}}</span></td>
        </tr>
        <tr *ngIf="data == undefined || data.length === 0">
            <td colspan="6" class="text-align-center">No list history available for PAN</td>
          </tr>
  </tbody>
</table>
