div.filter_container {
  div {
    div.row {
      div {
        input.input-std {
          position: relative;
          top: -20px;
        }
      }
    }
  }
}

div.table_container {
  table {
    thead {
      tr {
        th {
          span {
            color: #e87600;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          span {
            font-weight: bold;
            padding-left: 7.5px;
          }
          span.history {
            color: #e87600;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.fa-plus, .fa-minus {
  color: #e87600;
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

