<cs-transactions-form
  (addButtonEmitter)="openAddPanModal()"
  (remButtonEmitter)="openRemPanModal()"
  [isReadonly]="true"
  (newInquiryEvent)="onNewInquiry($event)"
  [disableRemovePanButton]="disableAddPanButton"
  [disableAddPanButton]="disableRemovePanButton"
  ></cs-transactions-form>
<div class="placeholder"></div>
<div class="table_container">
  <table class="responsive-table tblFiltered tblcheckFilltered" border="0">
        <thead>
          <tr>
              <th></th>
              <th>
                <span>{{'CUSTOMER_SUPPORT.COLUMNS.HISTORY' | translate}}</span>
              </th>
              <th (click)="sortBy('isPanInList', sortOrder * -1)" class="toggleItem">
                <span>
                  {{'CUSTOMER_SUPPORT.COLUMNS.ACTIVE_PAN' | translate}}
                </span>
                <i *ngIf="sortField === 'isPanInList' && sortOrder === -1" class="toggle-icon fa fa-caret-down"></i>
                <i *ngIf="sortField === 'isPanInList' && sortOrder === 1" class="toggle-icon fa fa-caret-up"></i>

              </th>
              <th (click)="sortBy('tableName', sortOrder * -1)">
                <span>{{'CUSTOMER_SUPPORT.COLUMNS.LIST_NAME' | translate}}</span>
                <i *ngIf="sortField === 'tableName' && sortOrder === -1" class="toggle-icon fa fa-caret-down"></i>
                <i *ngIf="sortField === 'tableName' && sortOrder === 1" class="toggle-icon fa fa-caret-up"></i>
              </th>
              <th (click)="sortBy('updateTime', sortOrder * -1)">
                <span>{{'CUSTOMER_SUPPORT.COLUMNS.LAST_UPDATE' | translate}}</span>
                <i *ngIf="sortField === 'updateTime' && sortOrder === -1" class="toggle-icon fa fa-caret-down"></i>
                <i *ngIf="sortField === 'updateTime' && sortOrder === 1" class="toggle-icon fa fa-caret-up"></i>
              </th>
              <th (click)="sortBy('updateUser', sortOrder * -1)">
                <span>{{'CUSTOMER_SUPPORT.COLUMNS.LAST_USER' | translate}}</span>
                <i *ngIf="sortField === 'updateUser' && sortOrder === -1" class="toggle-icon fa fa-caret-down"></i>
                <i *ngIf="sortField === 'updateUser' && sortOrder === 1" class="toggle-icon fa fa-caret-up"></i>
              </th>
          </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="lists && lists.length === 0">
          <tr>
            <td colspan="4">
              <p>{{'CUSTOMER_SUPPORT.MESSAGES.NOT_FOUND.LISTS' | translate}}</p>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let list of lists; let i = index; trackBy: trackFn">
          <tr>
              <td class="check-mobile">
                <span class="dataCheck">
                    <input type="checkbox"
                      id="checktd{{list.UserDefinedTableResponse.id}}"
                      name="checktd{{list.UserDefinedTableResponse.id}}"
                      [(ngModel)]="selectedListsList[list.UserDefinedTableResponse.id]"
                      (ngModelChange)="changedSelectedLists(list)"
                      value="{{list.id}}">
                    <label for="checktd{{list.UserDefinedTableResponse.id}}" class="checkbox-label">
                    </label>
                </span>
              </td>
              <td>
                  <span (click)="onClickHistory(list.UserDefinedTableResponse.id)">
                      <i [ngClass]="{'fa':true, 'fa-minus': visibleHistory == list.UserDefinedTableResponse.id, 'fa-plus': visibleHistory !== list.id }"></i>
                      <span>{{'Show History' | translate}}</span>
                  </span>
              </td>
              <td><span class="dataSpan">{{list.isPanInList ? 'Y' : 'N'}}</span></td>
              <td><span class="dataSpan">{{list.UserDefinedTableResponse.tableName}}</span></td>
              <td>
                <span class="dataSpan">
                  {{list.UserDefinedTableResponse.updateTime | dateFormat: 'DD-MMM-YYYY  hh:mma'}}
                  <!-- | dateFormat: 'DD - MMM - YYYY - hh:MMa' -->
                </span>
              </td>
              <td>
                <span class="dataSpan">
                  {{list.UserDefinedTableResponse.updateUser}}
                </span>
              </td>
          </tr>
          <tr *ngIf="visibleHistory == list.UserDefinedTableResponse.id">
            <td colspan="6" class="no-padding">
                <cs-list-history-summary [data]="history"></cs-list-history-summary>
            </td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="6" style="padding:0px"></td>
        </tr>
      </tbody>
  </table>
  <div class="placeholder"></div>
</div>

<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<cs-add-pan-modal
  [lists]="selectedLists"
  [pan]="pan"
  #addPanModal
  (panAdded)="onPanAdded($event)">
</cs-add-pan-modal>
<cs-rem-pan-modal
  [lists]="selectedLists"
  [pan]="pan"
  (panRemoved)="onPanRemoved($event)"
  #remPanModal></cs-rem-pan-modal>
<fc-dialog
#dialog
[labelDialog]='dialogText | translate'
[labelPrimaryButton]='"OK" | translate'
[enableSecondaryButton]='false'
></fc-dialog>
