<!--
  TODO: New material component
-->
<!--
  <h2>Material testing here: </h2>
  <button mat-button>My Button</button>
  <router-outlet></router-outlet>
-->
<nav>
   <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
   &nbsp;&nbsp;
   <a routerLink="employees" routerLinkActive="active">Employees List</a>
   &nbsp;&nbsp;
   <a routerLink="simple/{{mainMessage}}" routerLinkActive="active">Simple components</a>
</nav>
<input type="text" [(ngModel)]="mainMessage" />
<router-outlet></router-outlet>
