<div bsModal [config]="config" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog fc-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="add-pan-modal-title">
          <h3>{{ 'MODAL.ADD.PAN' | translate }}
          </h3>
        </div>
        <div class="add-pan-value">
          <h4>PAN: {{ pan }}</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="date-time-picker">
          <div class="col-sm-6 datepicker">
            <fieldset>
              <label for="add-pan-startDate">{{ 'MODAL.ADD.DATEPICKER.START_DATE' | translate }}</label>
              <fc-date-picker
                [allowEdit]="true"
                [format]="'DD-MMM-YYYY'"
                name="starts-on"
                lang="en-US"
                [(ngModel)]="startDate"
                (ngModelChange)="setRequestDates()"
                #startDatepicker
                [customClassNames]="datepickerClasses"
                (ngModelChange)="changedData()"
                id="startDateElement">
              </fc-date-picker>
            </fieldset>
          </div>
          <div class="col-sm-6 timepicker">
            <label for="timepicker">{{ 'MODAL.ADD.TIMEPICKER.START_TIME' | translate }}</label>
            <fc-timepicker class="mcc-timepicker" [(ngModel)]="startDate"></fc-timepicker>
          </div>
        </div>
        <div class="date-time-picker">
          <div class="col-sm-6 datepicker">
            <fieldset>
              <label for="add-pan-endDate">{{ 'MODAL.ADD.DATEPICKER.END_DATE' | translate }}</label>
              <fc-date-picker
                [allowEdit]="true"
                [format]="'DD-MMM-YYYY'"
                name="ends-on"
                lang="en-US"
                [(ngModel)]="endDate"
                (ngModelChange)="setRequestDates()"
                #endDatepicker
                [customClassNames]="endDatepickerClasses"
                (ngModelChange)="changedData()"
                id="endDateElement">
              </fc-date-picker>
              <div [hidden]="!isStartDateGreaterThanEndDate()">
                <span class="input-text-error">{{ 'CUSTOMER_SUPPORT.ERROR.INVALID.DATE.VALUE.RANGE' | translate}}</span>
              </div>
            </fieldset>
          </div>
          <div *ngIf="endDate" class="col-sm-6 timepicker">
            <label for="timepicker">{{ 'MODAL.ADD.TIMEPICKER.END_TIME' | translate }}</label>
            <fc-timepicker class="mcc-timepicker" [(ngModel)]="endDate"></fc-timepicker>
            <div [hidden]="!isStartDateGreaterThanEndDate()">
              <span class="input-text-error invisible">{{ 'CUSTOMER_SUPPORT.ERROR.INVALID.DATE.VALUE.RANGE' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12 modal-buttons">
            <button id="modalSecondaryButton" type="button" class="btn btn-sm secondary" data-dismiss="modal" (click)="onCancelButton()">{{ 'CUSTOMER_SUPPORT.LABELS.CANCEL' | translate}}</button>
            <button id="modalPrimaryButton" type="button" class="btn btn-sm primary" (click)="onAddButton()" [disabled]="isStartDateGreaterThanEndDate()" >{{ 'CUSTOMER_SUPPORT.LABELS.ADD' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<cs-add-pan-confirmation-modal
  [pan]="pan"
  [startDate]="confirmationStartDate"
  [endDate]="confirmationEndDate"
  (confirmed)="addPanToSelectedList()"
  (cancelled)="onCancelButton()">
</cs-add-pan-confirmation-modal>
