<div bsModal [config]="config" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog fc-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="add-pan-modal-title">
            <div class="rem-pan-title">
              <h3>{{ 'MODAL.REMOVE.TITLE' | translate }}</h3>
            </div>
        </div>
        <div class="rem-pan-value">
          <h4>{{ 'MODAL.REMOVE.CONFIRM_HEAD' | translate }} <br>
            {{ 'MODAL.REMOVE.CONFIRM_HEAD_L2' | translate }} {{ pan }} {{ 'MODAL.REMOVE.CONFIRM_TAIL' | translate }}</h4>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12 modal-buttons">
            <button id="modalSecondaryButton" type="button" class="btn btn-sm secondary" data-dismiss="modal" (click)="onCancelButton()">{{ 'CUSTOMER_SUPPORT.LABELS.CANCEL' | translate}}</button>
            <button id="modalPrimaryButton" type="button" class="btn btn-sm primary" (click)="onConfirmButton()">{{ 'CUSTOMER_SUPPORT.LABELS.CONFIRM' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
